{% load static %}
{% include 'index.html' %}

<h1>A Haunting in Venice</h1>
<p>A Haunting in Venice is a 2023 American mystery film produced and directed by Kenneth Branagh from a screenplay by Michael Green, loosely based on the 1969 Agatha Christie novel Hallowe'en Party. It serves as a sequel to Death on the Nile (2022) and is the third film in which Branagh reprises his role as the Belgian detective Hercule Poirot.[5] The ensemble cast includes Kyle Allen, Camille Cottin, Jamie Dornan, Tina Fey, Jude Hill, Ali Khan, Emma Laird, Kelly Reilly, Riccardo Scamarcio, and Michelle Yeoh.</p>
<p>A Haunting in Venice was released in the United States on September 15, 2023, by 20th Century Studios. The film received generally positive reviews from critics and has grossed $122 million worldwide.</p>
<img src="{% static 'images/A_Haunting_in_Venice_(2023)_poster.jpg' %}">