{% load static %}
<h1>Plane</h1>
<p>Plane is a 2023 American action thriller film directed by Jean-François Richet from a screenplay by Charles Cumming and J. P. Davis.[4] The film stars Gerard Butler, Mike Colter, Yoson An, and Tony Goldwyn. The plot centers on a pilot (Butler) allying with a prisoner (Colter) to save his passengers from a hostile territory in which they make an emergency landing.</p>
<p>The film was announced in 2016, acquired by Lionsgate in 2019, sold to Solstice Studios in 2020, and re-acquired by Lionsgate in 2021. It was shot in Puerto Rico. Plane was released in the United States on January 13, 2023. It received generally favorable reviews from critics and has grossed $74 million worldwide.</p>
<img src="{% static 'images/Plane_(2023_film)_poster.png' %}">