{% load static %}
{% include 'index.html' %}

<h1>Leave the World Behind</h1>
<p>Leave the World Behind is a 2023 American apocalyptic psychological thriller film produced, written, and directed by Sam Esmail. It is based on the 2020 novel of the same name by Rumaan Alam. The film stars Julia Roberts, Mahershala Ali, Ethan Hawke, Myha'la, and Kevin Bacon as they attempt to make sense of the gradual breakdown in phones, television, and other regularly used technology which points to a potential cataclysm.</p>
<p>Leave the World Behind had its world premiere at the AFI Fest on October 25, 2023. It was released in select theaters on November 22, 2023, before its streaming release by Netflix on December 8, 2023. It received generally positive reviews from critics.</p>
<img src="{% static 'images/Leave_the_World_Behind_film_poster.png' %}">